*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input button{
    font-size: large;
    height: 45px;
    width: 90px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 1.1s all ease ;
}
.input button:focus{
    background-color: purple;
    color: white;
    scale: 1.2;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards div{
    margin: 20px;
    margin-left: 50px;

}
.cards img{
    height: 300px;
    width: 300px;
    border-radius: 30px;
}
@media only screen and (max-width: 500px) {

.input button{
  margin-left: 3.3rem;
}
.input{
    margin-top: 10px;
}
.cards img{
    height: 150px;
    width: 150px;
}
.cards h2{
    font-size:large ;
}
}

